* {
    box-sizing: border-box;
 }
html{
    height: 100%;
}
body{
    background-image: url("../images/paper_1.png");
}

.chatLog{
    font-family: 'Roboto', sans-serif;
    height: 10rem;
    overflow-y: auto;
    vertical-align: bottom; 
}
#boardContainer {
    justify-content: center
}
.uk-container.uk-heading-line.uk-text-center{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
.uk-container {
    background-color: #EE964B;
    position: relative;
}

.uk-offcanvas{
    background-color: rgba(161, 156, 137, 0.575)
}
.uk-offcanvas-bar{
    background-color: rgba(35, 61, 77, 0.705);
}
.far.fa-comments{
    font-family: 'Roboto', sans-serif;
}

.uk-heading-line.uk-text-center{
    font-family: 'Roboto', sans-serif;}
.uk-card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.black {
    color: darkgrey;
}