* {
    box-sizing: border-box;
 }
html{
    height: 100%;
}
body{
    background-image: url("../images/paper_1.png");
}

.chatLog{
    font-family: 'Roboto', sans-serif;
    height: 10rem;
    overflow-y: auto;
    vertical-align: bottom; 
}
.uk-container.uk-heading-line.uk-text-center{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
.uk-container {
    background-color: #EE964B;
}

.uk-offcanvas{
    background-color: rgba(161, 156, 137, 0.575)
}
.uk-offcanvas-bar{
    background-color: rgba(35, 61, 77, 0.705);
}
.far.fa-comments{
    font-family: 'Roboto', sans-serif;
}

.uk-heading-line.uk-text-center{
    font-family: 'Roboto', sans-serif;}
.uk-card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.black {
    color: darkgrey;
}

#moves-div {
    display: inline-block;
    vertical-align: top;
    max-height: 100;
    width: 200px;
    overflow: auto;
    margin: 0 4px;
    font-size: 0.8em;
    /* user-select: none; Standard syntax */
    padding: 5px;
}

.move-number-span {
    display: inline-block;
    vertical-align: top;
    width: 12%;
    padding: 2px;
    border-bottom: 1px gainsboro solid;
    border-right: 1px gainsboro solid;
    border-top: 1px gainsboro solid;
    border-left: 1px gainsboro solid;
    color: #EE964B;
    text-align: center;
}

.move-span {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 2px;
    border-bottom: 1px gainsboro solid;
    border-right: 1px gainsboro solid;
    border-top: 1px gainsboro solid;
    text-align: center;
    color: #EE964B;
}

#move-span_selected {
    color: green;
    background-color: palegreen;
}

.move-span:hover {
    background-color: gainsboro;
}